@font-face {
    font-family: 'Roboto Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Roboto Regular'), url('fonts/Roboto-Regular.woff') format('woff');
    }
    

@font-face {
    font-family: 'Optima';
    font-style: normal;
    font-weight: normal;
    src: local('Optima'), url('fonts/OPTIMA.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Optima Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Italic'), url('fonts/Optima_Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Optima Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Medium'), url('fonts/Optima_Medium.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Optima Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Optima Bold'), url('fonts/OPTIMA_B.woff') format('woff');
    }

body{
    font-family:'Optima';
}

header{

    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.15);
}

.nav-box{
    max-width: 960px;
    margin: 0px auto;
}

@media only screen and (max-width: 1024px) {
    .navbar {
        padding-left:10px;
        padding-right:10px;
       }
}
  
.nav-item {
    padding-left:8px;
    padding-right:8px;
}
.nav-item > .nav-link {
    color: #000000 !important;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    background:#fff;
}

.banner-box{
    width:100%;
    height: 686px;
    background: 
      linear-gradient(180deg, rgba(0,0,0,0.54) 0%, rgba(238,238,238,0) 100%),
      url(../images/bannerbg.png);
      background-size: cover;
}

.banner-box > .banner-header{
    width:100;
    text-align: center;
}

.banner-box > .banner-header > .banner-main-text{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 73px;
    padding-top:76px;
    text-align: center;
    text-shadow: 0 2px 13px 0 rgba(0,0,0,0.5);
}

.banner-box > .banner-header > .banner-sub-text{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 32px;
    letter-spacing: 0;
    line-height: 42px;
    padding-top:16px;
    text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
}

.banner-box > .banner-header > .banner-button{
    box-sizing: border-box;
    height: 51px;
    width: 255px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255,255,255,0);
    color: #FFFFFF;
    font-family: Optima bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    margin-top:38.5px;
}

@media only screen and (max-width: 640px) {
    .banner-box > .banner-header > .banner-main-text{
        font-size: 50px !important;
    }
    .banner-box > .banner-header > .banner-sub-text{
        font-size:20px;
    }
}
.comfort-image{
  padding-top:70.16px;
  padding-bottom:70.16px;
  max-width: 960px;
}

.comfort-image img{
    height: 100px;
  width: 200px;
    margin:0px auto;
    margin-bottom:20px;
    display: block;

}

.comfort-title{
    color: #000000;
    font-family: Optima;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    height: 30px;
    margin-bottom:15px;

}
@media only screen and (max-width: 912px) {
    .comfort-title{
        margin-bottom:45px;
        text-align:center;
    }
}
@media only screen and (max-width: 686px) {
    .comfort-title{
        margin-bottom:30px;
        text-align:center;
    }
}
@media only screen and (max-width: 410px) {
    .comfort-title{
        margin-bottom:65px;
        text-align:center;
    }
}

.comfort-description{
    color: #5A5A5A;
  
    font-family: Roboto Regular;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;

}

.free-installment{
    background-color: #000000;
    width:100%;
}

.free-installment> .free-installment-box{
    max-width: 960px;
    padding-bottom:80px;
}

.free-installment> .free-installment-box >.row > .installment-header{
    width: 419px;
  color: #FFFFFF;
  font-family: Optima;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  padding-top:80px;
  text-align: center;
  padding-bottom:80px;
  text-transform: uppercase;
  margin:0px auto;

}

.free-installment> .free-installment-box >.row .image-label{
    height: 21px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    margin-top:10px;
    margin-bottom:10px;
}

@media only screen and (max-width: 767px) {
    .free-installment> .free-installment-box >.row{

        text-align:center;
    }
    .free-installment> .free-installment-box >.row .image-label{
        margin: 0px auto;
        margin-top:20px;
        margin-bottom:20px;
    }
}

  .why-us{
      background:#fff;
      padding-top:80px;
      padding-bottom:80px;
  }

  .why-us > .why-us-box {
    max-width: 960px;
    padding-bottom:80px;
  }

.why-us > .why-us-box > .row > .why-us-header {
    margin:0px auto;
    height: 37px;
    width: 273px;
    color: #000000;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom:71px;
}


.why-us > .why-us-box > .row p {
    height: 21px;
    width: 179px;
    color: #000000;
    font-family: Optima;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    margin-top:19px;
}

.why-us > .why-us-box > .row  .description {
    color: #5A5A5A;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}

  
@media only screen and (max-width: 575px) {
    .why-us > .why-us-box > .row {

        text-align:center;
    }
    .why-us > .why-us-box > .row  .description{
        margin: 0px auto;
        margin-top:20px;
        margin-bottom:20px;
    }
    .why-us > .why-us-box > .row  p{
        margin: 0px auto;
        margin-top:20px;
        margin-bottom:20px;
    }
}

.limited-warranty{
    padding-top:80px;
    width:100%;
    height: 460px;
    background: 
      linear-gradient(180deg, rgba(0,0,0,0.54) 0%, rgba(238,238,238,0) 100%),
      url(../images/iwood-R5v8Xtc0ecg-unsplash.png);
      background-size: cover;
      background-position: center;
  }

.limited-warranty > .warranty-header{
    width:100;
    text-align: center;
}

.limited-warranty> .warranty-header > .warranty-main-text{
    height: 34px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 35px;
    text-align: center;
    margin:0px auto;
}

.limited-warranty > .warranty-header > .warranty-sub-text{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
    margin-top:10px;
}

.limited-warranty > .warranty-header > .warranty-button{
    box-sizing: border-box;
    height: 51px;
    width: 255px;
    border: 1px solid #FFFFFF;
    background-color: rgba(255,255,255,0);
    color: #FFFFFF;
    font-family: Optima bold;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    margin-top:38.5px;
}

@media only screen and (max-width: 424px) {
    .limited-warranty> .warranty-header > .warranty-main-text{
        margin-bottom:40px;
  }
}
.variety{
    color:#fff;
    padding-top:80px;
    background:#000;
   
  }
.variety > .variety-box {
    max-width: 1170px;
}

.variety > .variety-box p{
    height: 84px;
    margin-top:200px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 42px;
}

.variety > .variety-box .description{
    height: 39px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 10;
    line-height: 19px;
    margin-bottom:30px;
}

.variety > .variety-box .variety-btn{
    box-sizing: border-box;
  height: 38px;
  width: 227px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255,255,255,0);
  color:#fff;
}

@media only screen and (max-width: 1024px) {
    .variety > .variety-box p{
        margin-top:150px;
    }
}

@media only screen and (max-width: 767px) {
    .variety > .variety-box p{
        margin-top:50px;
    }
    .variety{
        padding-bottom:80px;
    }
}
@media only screen and (max-width: 519px) {
    .variety > .variety-box .variety-btn{
        margin-top:20px;
    }
}
.purchase-app{
    padding-top:80px;
    padding-bottom:80px;
}

.purchase-app > .purchase-box{
    max-width: 960px;
}

.purchase-app > .purchase-box> .purchase-main-text{
    height: 37px;
    color: #000000;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
}

ul.timeline {
    margin-top:155px;
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #F1191C;;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 60px 0;
    padding-left: 20px;
    color: #000000;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #F1191C;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

@media only screen and (max-width: 767px) {
    ul.timeline{
        margin-top:-40px;
        text-align: left;
    }
    .purchase-app{
        text-align: center;
    }
}

.footer-box{
    max-width: 960px;
    margin:0px auto;
    padding-bottom:50px;
}
.footer-box a{
    color: #000000;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
}
@media only screen and (max-width: 785px) {
    .footer-links,.footer-apps{
       margin:0px auto;
    }
}
@media only screen and (max-width: 575px) {
    .footer-box{
        display: block;
        text-align: center;
        margin:0px auto;
    }
    .sub-footer{
        display: block !important;
        text-align: center;
    }
    
    .footer-social{
        display: inline;
        margin:0px auto !important;
    }
}

.sub-footer{
    max-width: 960px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.sub-footer a{
    color: #787878;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 25px;
}


/** Warranty page css**/
.warranty-banner{
   
    background: 
    linear-gradient(180deg, rgba(0,0,0,0.54) 0%, rgba(238,238,238,0) 100%),
    url(../images/Group.png);
    background-size: cover;
}

.warranty-banner .warranty-box {
    max-width: 960px;
    margin:0px auto;
    padding-bottom:50px;
}
.warranty-banner .warranty-box .warranty-banner-title{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 73px;
    text-align: center;
    text-shadow: 0 2px 13px 0 rgba(0,0,0,0.5);
    padding-top:92.25px;
}
.warranty-banner .warranty-box .warranty-banner-sub-text{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    max-width:823px;
    margin:0px auto;
}
.warranty-p1{
    max-width: 821px;
    margin:0px auto;
    color: #5A5A5A;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;  
}
.warranty-coverage-details{
    background:#000000;
    padding-top:50px;
    padding-bottom:111px;
}
.warranty-coverage-details .warranty-coverage-box{
    max-width:960px;
    margin:0px auto;
}
.warranty-coverage-details .warranty-coverage-box .warranty-coverage-title {
    color:#ffffff;
    text-align: center;
}
.warranty-coverage-details .warranty-coverage-box .warranty-coverage-title p{
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    text-transform: uppercase;
}
.warranty-coverage-details .warranty-coverage-box .warranty-coverage-title span{
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
}
.warranty-coverage-details .warranty-coverage-box .warranty-columns p{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    padding-top:20px;
}
.warranty-coverage-details .warranty-coverage-box .warranty-columns span{
    color: #FFFFFF;
    opacity: 0.8;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}






.warranty-covered-items{
    padding-top:50px;
    padding-bottom:111px;
}
.warranty-covered-items  .warranty-covered-items-box{
    max-width:960px;
    margin:0px auto;
}
.warranty-covered-items  .warranty-covered-items-box .warranty-covered-items-title {
    color:#ffffff;
    text-align: center;
}
.warranty-covered-items  .warranty-covered-items-box .warranty-covered-items-title p{
    color: #000000;
    font-family: Optima;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}
.warranty-covered-items .image-label{
    color: #5A5A5A;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    margin-top:23px;
}
.warranty-covered-items img{     
    height: 56px;
}

@media only screen and (max-width: 767px) {
    .warranty-covered-items  .warranty-covered-items-box >.row{

        text-align:center;
    }
    .warranty-covered-items  .warranty-covered-items-box >.row .image-label{
        margin: 0px auto;
        margin-top:20px;
        margin-bottom:20px;
    }
}



.faq-details{
    background:#000000;
    padding-top:50px;
    padding-bottom:111px;
}
.faq-details .faq-box{
    max-width:800px;
    margin:0px auto;
}
.faq-details .faq-box .faq-title {
    color:#ffffff;
    text-align: center;
}
.faq-details .faq-box .faq-title p{
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 36px;
    text-transform: uppercase;
}
.faq-box ul{
    list-style: none;
    width: 100%;
    padding-left:20px;
    padding-right: 20px;
}
.faq-box i{
    color: #F1191C;
    padding-right:7px;
}
.faq-box ul li{
    color: #FFFFFF;
  font-family: Optima;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 21px;
  padding-bottom:15px;
  border-bottom:1px solid rgba(255,255,255,0.5);
}
.faq-box ul li div{
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    font-weight: normal;
    margin-left:20px;
    opacity:0.8;
}
.faq-description{
    max-width: 960px;
    margin:0px auto;
    opacity: 0.5;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 14px;
  text-align: center;
  padding-top:82.47px;
}

.additional-support{
    padding-top:50px;
    padding-bottom:111px;
}
.additional-support  .additional-support-box{
    max-width:960px;
    margin:0px auto;
}
.additional-support .additional-support-box .additional-support-title {
    color:#ffffff;
    text-align: center;
    max-width: 850px;
    margin:0px auto;
}
.additional-support  .additional-support-box .additional-support-title p{
    color: #000000;
  font-family: Optima;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
  text-align:center;
    text-transform: uppercase;
}
.additional-support  .additional-support-box .additional-support-title span{
    color: #5A5A5A;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 19px;
    text-align: center;
}
.additional-support img{
    height:90px;
}
.additional-support  .additional-support-box p{
    margin-top:30px;
    color: #000000;
    font-family: Optima;
    font-size: 20px;
    letter-spacing: 0;
    line-height: 21px;
}
.additional-support  .additional-support-box .support-btn{
    max-width:740px;
    margin:0px auto;
}
@media only screen and (max-width: 575px) {
    .additional-support{
        display: block;
        text-align: center;
        margin:0px auto;
    }

}


/** locate us page css**/
.locate-banner{
   
    background: 
    linear-gradient(180deg, rgba(0,0,0,0.54) 0%, rgba(238,238,238,0) 100%),
    url(../images/locate-banner.png);
    background-size: cover;
}

.locate-banner .locate-box {
    max-width: 960px;
    margin:0px auto;
    padding-bottom:50px;
}
.locate-banner .locate-box .locate-banner-title{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 72px;
    letter-spacing: 0;
    line-height: 73px;
    text-align: center;
    text-shadow: 0 2px 13px 0 rgba(0,0,0,0.5);
    padding-top:92.25px;
}
.locate-banner .locate-box .locate-banner-sub-text{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    max-width:823px;
    margin:0px auto;
}

.post-list{
    max-width:960px;
}

.post .card-title-post{
    color: #F1191C;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 35px;
    text-transform: uppercase;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}
.post .card-title-post{
    color: #F1191C;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 35px;
}
.post span{
    position: relative;
    top:-10px;
    color: #000000;
    font-family: Optima;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
}
.post .card-text{
    height:70px;
    overflow:hidden;
}
.post p{
    color: #5A5A5A;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
}
.post ul{
    list-style: none;
    padding:0;
}

.post .card-body{
    padding-bottom:0px;
}
.post .contact-box ul li{
    padding-top:5px;
}

.post .contact-box .contact-list{
    display:flex;
    color: #5A5A5A;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 21px;
    overflow: hidden;
}
.post .contact-box > ul > li:nth-child(1) {
    height:50px;
}
.post .contact-box > ul > li:nth-child(2) {
    height:50px;
}


.post .contact-box .contact-list .material-icons{
    margin-right:10px;
    color:#ccc;
}

.post .contact-box .contact-list .phone-no{
    margin-right:10px;
    color:#ccc;
}

.post .contact-box .contact-list .phone-no img{
    width:28px;
}

.post .contact-box .contact-list .phone-message{
    margin-right:10px;
    color:#ccc;
}

.post-list .card-footer{
    background:red;
}
.post-list .card-footer a{
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 21px;
}
.find-us{
    color:#fff;
    padding-top:0px;
    background:#000;
   
  }
.find-us > .find-us-box {
    max-width: 1170px;
}

.find-us > .find-us-box p{
    margin-top:200px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 28px;
    letter-spacing: 0;
    line-height: 42px;
    text-transform: uppercase;
}

.find-us > .find-us-box .description{
    height: 39px;
    color: #FFFFFF;
    font-family: Optima;
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 10;
    line-height: 19px;
    margin-bottom:30px;
}

.find-us > .find-us-box .find-us-btn{
    box-sizing: border-box;
  height: 38px;
  width: 227px;
  border: 1px solid #FFFFFF;
  background-color: rgba(255,255,255,0);
  color:#fff;
}

@media only screen and (max-width: 1024px) {
    .find-us > .find-us-box p{
        margin-top:150px;
    }
}

@media only screen and (max-width: 767px) {
    .find-us > .find-us-box p{
        margin-top:50px;
    }
    .find-us{
        padding-bottom:80px;
    }
}
@media only screen and (max-width: 519px) {
    .find-us > .find-us-box .find-us-btn{
        margin-top:20px;
    }
}